Django==4.0.4
djangorestframework==3.13.1
django-filter==22.1
drf-spectacular[sidecar]==0.22.1
gitpython==3.1.27
django-debug-toolbar
django-extensions
gunicorn
whitenoise
psycopg2-binary
dj-database-url
# dj-rest-auth  # https://github.com/iMerica/dj-rest-auth
# djangorestframework-gis  # https://github.com/openwisp/django-rest-framework-gis